<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
  </thead>

  <tbody>
    {{#each this.users as |user|}}
      <tr>
        <td data-test-id="{{user.id}}">{{user.id}}</td>
        <td data-test-age="{{user.id}}">{{user.age}}</td>
        <td data-test-name="{{user.id}}">{{user.name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<button type="button" data-test-button="create-record-with-id" {{on 'click' this.handleCreateRecordWithIdClick}}>
  Create record with ID
</button>

<button type="button" data-test-button="create-record-without-id" {{on 'click' this.handleCreateRecordWithoutIdClick}}>
  Create record without ID
</button>

<button type="button" data-test-button="update-record" {{on 'click' this.handleUpdateRecordClick}}>
  Update record
</button>

<button type="button" data-test-button="delete-record" {{on 'click' this.handleDeleteRecordClick}}>
  Delete record
</button>

<button type="button" data-test-button="find-all" {{on 'click' this.handleFindAllClick}}>
  Find All
</button>

<button type="button" data-test-button="find-record" {{on 'click' this.handleFindRecordClick}}>
  Find record
</button>

<button type="button" data-test-button="query-1" {{on 'click' this.handleQuery1Click}}>
  Query 1
</button>

<button type="button" data-test-button="query-2" {{on 'click' this.handleQuery2Click}}>
  Query 2
</button>

{{outlet}}
