<p>If this page shows a record with an ID of {{this.model.id}} and a name of the specified URL param, then the update record works!</p>
<p>ID: {{this.model.id}} | Title: {{this.model.title}} | Author: {{this.model.author.name}}</p>

{{outlet}}
