<p>If this page shows a record with an ID of {{model.id}} and a name of the specified URL param, then the update record works!</p>
<p>ID: {{model.id}} | Title: {{model.title}} | Author: {{model.author.name}}</p>

{{outlet}}
